<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Drivern TestNG Framework">

	<listeners>
		<listener
			class-name="com.brainzhive.extentlisteners.ExtentListeners" />

	</listeners>


	<test name="Bankmanager Login Test">
		<classes>
			<class name="com.brainzhive.testcases.BankManagerLoginTest" />
		</classes>
	</test> <!-- Test -->


	<test name="Add Customer Test">
		<classes>
			<class name="com.brainzhive.testcases.AddCustomerTest" />
		</classes>
	</test> <!-- Test -->



	<test name="Open Account Test">
		<classes>
			<class name="com.brainzhive.testcases.OpenAccountTest" />
		</classes>
	</test> <!-- Test -->

	<test name="Open Account Test">
		<classes>
			<class name="com.brainzhive.testcases.openIRCTCTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
